<launch>
  
  <arg name = "world_name" default="level4"/>
  <arg name="obstacle_bot_name" default="obstacle_bot" />

  <node name="obstacle_bot_goal_publisher" pkg="robot_navigation" type="obstacle_bot_goal_publisher">
    <param name="file_path" value="$(find robot_navigation)/goals/$(arg world_name)/$(arg obstacle_bot_name)_goals.csv"/>
  </node>
</launch>

